@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  @keyframes slide-in-left {
    0% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-slide-in-left {
    animation: slide-in-left 1.5s ease-in-out; /* Adjust the duration and timing as needed */
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(300%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-slide-in-right {
    animation: slide-in-right 1.5s ease-in-out; /* Adjust the duration and timing as needed */
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fade-in 2.5s ease-in-out; /* Adjust the duration and timing as needed */
  }

  @keyframes fast-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-fast-fade {
    animation: fade-in 1.0s ease-in-out; /* Adjust the duration and timing as needed */
  }
